doctype 5
html(lang='es')
    head
        meta(charset='utf-8')
        title Mi primera aplicacion en node
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
        link(rel="stylesheet", href="css/reset.css")
        link(rel="stylesheet", href="css/helpers.css")
        link(rel="stylesheet", href="css/style.css")
    body
        h1 Mensajes
        #container
            #contentMessages.scroll
            .row
                textarea(name="mensaje", autofocus)

        script(src="/socket.io/socket.io.js")
        script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
        script(src="js/handlebars.js")
        script(src="js/message.js")
        script.
            var websocket = io.connect();

            websocket.on('connect', function() {
                var user = prompt('Cual es tu nombre:');
                websocket.emit('newUser', user);
            });

            $(document).on('ready', function () {
                $('textarea').on('keyup', function(e) {
                    var textareaMessage = $(this).val();
                    var code = e.keyCode || e.which;

                    if(code === 13) {
                        $(this).val('');
                        
                        if(!textareaMessage.match(/^\s*$/)) {
                            var data = {};
                            data.message = textareaMessage
                            websocket.emit('sendMessage', data);
                        }
                    }
                });

                websocket.on('newMessage', function (mensaje) {
                    var resultTemplate = Handlebars.compile(Template.message);
                    var html = resultTemplate(mensaje);
                    var scroll = $('#contentMessages')[0].scrollHeight;
                    $('#contentMessages').append(html).scrollTop(scroll);

                });
            });