doctype 5
html(lang='es')
    head
        title Mi primera aplicacion en node
        meta(charset='utf-8')
        link(rel="stylesheet", href="css/reset.css")
        link(rel="stylesheet", href="css/helpers.css")
        link(rel="stylesheet", href="css/style.css")
    body
        h1 Mensajes
        #container
            #contentMessages.scroll
            .row
                textarea(name="mensaje", autofocus)

        script(src="/socket.io/socket.io.js")
        script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
        script
            var websocket = io.connect();

            $(document).on('ready', function () {
                $('textarea').on('keypress', function(e) {
                    var code = e.keyCode || e.which;

                    if(code === 13) {
                        var data = {};
                        data.message = $(this).val();
                        websocket.emit('sendMessage', data);
                        $(this).val('');
                    }
                });

                websocket.on('newMessage', function (mensaje) {
                    $('#contentMessages').append('<div class="message">' + mensaje + '</div>');
                });
            });