// Miscellaneous useful HTML classes

.hidden {
    display: none;
    visibility: hidden;
}

.text-bold {
    font-weight: bold;
}

.text-lowercase {
    text-transform: lowercase;
}

.text-uppercase {
    text-transform: uppercase;
}

.scroll {
    -webkit-overflow-scrolling: touch;
}

.scroll::-webkit-scrollbar{
    width: 6px;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    background-clip: padding-box;
    border: solid rgba(0, 0, 0, 0);
    border-width: 2px;
    padding: 100px 0 0;
    -moz-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
    -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
}