html,
body {
	height: 100%;
}

html {
	font-size: 62.5%;
}

body {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 14px;
}

h1 {
	background-color: #5fb471;
	border-bottom: 2px solid rgba(61, 139, 78, 0.35);
	color: #FFF;
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: bold;
	line-height: 40px;
	/*padding: 10px 0px;*/
	text-align: center;
	text-shadow: 0 2px 1px rgba(61, 139, 78, 0.75);
}

#contentMessages {
	bottom: 50px;
	left: 0;
	padding: 10px;
	overflow-x: hidden;
	overflow-y: scroll;
	position: fixed;
	right: 0;
	top: 42px;
}

textarea {
	border: 1px solid #ccc;
	bottom: 0px;
	height: 50px;
	outline: none;
	padding: 5px;
	position: fixed;
	resize: none;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

textarea:focus {
	border-color: rgba(82, 168, 236, 0.8);
	outline: 0;
	outline: thin dotted \9;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
.avatar {
	width: 80px;
	height: 40px;
	position: relative;
}
.avatar:before,
.avatar:after {
	border-color: transparent transparent transparent transparent;
	border-style: solid;
	content: "";
	left: 0;
	position: absolute;
}
.avatar:before {
	border-width: 0 40px 25px 40px;
	border-bottom-color: inherit;
	top: -24px;
}
.avatar:after {
	border-width: 25px 40px 0 40px;
	border-top-color: inherit;
	bottom: -24px;
}